* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #80808029;
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    height: 55px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.topo-itens {
    width: 100%; /* ocupa todo o espaço disponível */
    height: 100%;  /* ocupa todo o espaço disponível */
    display: flex;
    justify-content: flex-start;
    align-items: center; /* centraliza os elementos verticalmente */
}

.topo-itens img {
    width: 32px;
    height: 32px;

}

.limite-largura {
    max-width: 1024px;
}

.topo-itens p {
    font-size: 24px;
    color: #5d15d1;
    margin-left: 10px;
}

.secao-formulario {
    width: 100%;
    height: auto;
    background-image: url('/imagens/bahia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.formulario-topo {
    width: 100%;
    height: 35px;
    background-color: #5d15d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-topo img {
    width: 20px;
    height: 20px;
    transform: rotate(-45deg); /* rotacionado em 45deg */
}

.formulario-topo h1 {
    font-size: 14px;
    color: #fff;
    margin-left: 5px;
}

.formulario-conteudo {
    width: 100%;
    background-color: #fff;
    padding: 30px 25px 20px 25px; /* o espaçamento não deve alterar o tamanho do elemento (largura + espaçamento = 100%) */
}

.formulario-conteudo h2 {
    font-size: 22px;
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
}

input , select {
    width: 100%;
    height: 32px;
    margin: 10px 0;
}

input {
    padding: 0 5px;
}

select {
    padding: 0 3px;
}

.formulario-data, .listas-selecao {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formulario-data div, .listas-selecao div {
    width: calc(50% - 10px);
}

.marcacao-unica, .marcacao-multipla {
    display: flex;
    justify-content: flex-start;
}

.marcacao-unica div, .marcacao-multipla div {
    display: flex;
    align-items: center;
    width: 120px;
}

.marcacao-unica input, .marcacao-multipla input {
    width: 15px;
}

.marcacao-unica label, .marcacao-multipla label {
    margin-left: 8px;
}

button {
    width: 160px;
    height: 32px;
    background-color: #5d15d1;
    color: #fff;
    border: 0;
    font-size: 16px;
    margin-top: 12px;
    cursor: pointer;
}

.ofertas, .anuncios {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 32px auto 0 auto;
}

.ofertas h2, .anuncios h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.ofertas h3, .anuncios h3 {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 15px;
}

.ofertas span {
    font-weight: bold;
}

.cinco-imagens {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
}

.imagem-rj {
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}

.quatro-imagens {
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quatro-imagens figure {
    position: relative;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0 6px;
}

.imagem-rj img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quatro-imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* propriedade que faz as imagens ocuparem todo o elemento que as envolve */
}

figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 50%);
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
}

.duas-imagens {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.duas-imagens figure {
    width: calc(50% - 10px);
    height: 100%;
}

.duas-imagens img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.duas-imagens div {
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

.duas-imagens h3 {
    font-size: 16px;
}

.duas-imagens p {
    font-size: 14px;
    color: grey;
    margin-top: 15px;
}